---
import Layout from "@Layouts/Layout.astro";
---

<Layout title="Template" description="Template">
	<main class="f-col f-justify-center text-center mx-auto">
		<h1 class="mt-6 fw-500">Revision de Tik Tok</h1>
		<div class="f-row g-3 mx-auto mt-3">
			<a href="clipero/" class="mt-4"
				><span class="py-3 px-5 btn-primary br-6 fs-5 fw-500 pointer"
					>Reclama ya!</span
				></a
			>
		</div>
	</main>
</Layout>
