---
import HeaderRight from "./HeaderRight.tsx";
---

<header class="f-row f-justify-between f-align-center px-4 mx-auto w-100">
    <a class="f-row f-align-center g-2 pointer px-2" href="/FrancoVidal/">
        <span>Logo</span>
        <span class="head-h1 text-center fs-3 fw-500">Franco Vidal</span>
    </a>
    <ul class="f-row f-align-center g-2">
        <span class="fs-2" data-user="true"></span>
        <HeaderRight client:only="react" />
    </ul>
</header>

<style>
    header {
        height: 50px;
        background-color: var(--vscode-panel-background);
        color: var(--vscode-description-foreground);
    }
    .head-h1:hover {
        color: var(--vscode-foreground);
    }
</style>
