---
import GeneralDashboard from "@Apps/GeneralDashboard";
import Private from "@Layouts/Private.astro";
---

<Private title="Clipero" description="Clipero">
    <main class="f-col mx-auto">
        <h1 class="mt-6 fw-500 fs-4 text-start ml-2">Admin</h1>
        <div class="f-row g-3 mx-auto mt-3 w-100">
            <GeneralDashboard type="admin" client:only="react" />
        </div>
    </main>
</Private>
